<h2>User Information</h2>
<form id        =  "uploadForm"
enctype   =  "multipart/form-data"
action    =  "upload"
method    =  "post"
>
<input type="file" name="file" />
<input type="submit" value="Upload" name="submit" class="btn btn-primary" >
</form>

<h2>Male</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nationality</th>
      <th scope="col">0-30</th>
      <th scope="col">30-50</th>
      <th scope="col">50 and above</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>
<hr style="border-top: 3px double #8c8b8b;">
<h2>Female</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nationality</th>
      <th scope="col">0-30</th>
      <th scope="col">30-50</th>
      <th scope="col">50 and above</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    
  </tbody>
</table>